/* Queries for Phone */
@media only screen and (max-width: 600px){ 
    .nav {
        display: none;
    }

    .intro {
        font-size: 1em;
    }

    .Current_Projects{
        font-size: 1em;
    }

    .Projects {
        grid-template-columns: 1fr;
    }
}