/* Queries for Phone */
@media only screen and (max-width: 600px){
    p.Logo {
        font-size: 4em;
    }    
    .nav {
        display: none;
    }

    .intro {
        font-size: 2.5em;
    }

    .Current_Projects{
        font-size: 2em;
    }

    .Projects {
        grid-template-columns: 1fr;
    }
}